    .main-header {
        background-color: #f5f0f0;
    }
    
    #logo {
        margin-top: -30px;
    }
    
    #container-header {
        padding: 15px 0;
        background-color: #f5f0f0;
        padding-top: 45px;
    }
    
    #container-header .btn-header {
        background-color: #e25200;
        color: #ffffff;
        max-width: 100%;
    }
    
    #container-header .nav-link {
        text-transform: uppercase;
    }
    
    #container-header .dropdown-menu {
        padding-left: 15px;
        border: 0;
    }
    
    #container-header .dropdown-item {
        white-space: normal;
        border-left: 3px solid #3a4f8e;
        margin-bottom: 15px;
    }
    
    #container-header .dropdown-item:last-child {
        margin-bottom: 0;
    }
    
    .hero {
        height: 450px;
        width: 100%;
        background-image: url("../image/Imagem-29.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    h4 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        padding-top: 5px;
    }
    
    #navbarDropdownMenuLink,
    .nav-item {
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .dropdown-item {
        color: #cc6901;
    }
    
    .hero-body {
        background-color: rgba(255, 255, 255, 0.74);
        width: 100%;
    }
    
    .hero-body h2 {
        font-size: 50px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: center;
        color: #3a4f8e;
        margin: 62px 0;
    }
    
    #produtos {
        background-color: #73b2b2;
        padding: 96px 0;
    }
    
    #produtos h2 {
        color: white;
    }
    
    #produtos .card {
        border-radius: 0;
        border-bottom: solid 24px #e25200;
        border-left: solid 8px #3a4f8e;
        color: white;
        background-color: #73b2b2;
        margin-bottom: 30px;
        max-width: 487px;
    }
    
    #produtos .text-veja {
        margin-top: 70px;
        font-family: ProximaNova;
        font-size: 25px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    
    #noticias {
        margin: 65px 0;
    }
    
    #noticias h2 {
        margin: 30px;
        font-size: 50px;
        color: #cc6901;
    }
    
    #noticias .card {
        color: #3a4f8e;
        border: 0;
        margin: 65px;
        max-width: 487px;
    }
    
    #noticias .leia-mais {
        display: block;
        text-align: right;
    }
    
    .card-title-2,
    .card-title-3,
    .card-title-4 {
        color: #3a4f8e;
    }
    
    .agenda-eventos {
        margin-top: 20px;
        color: white;
        padding-top: 35px;
        font-size: 38px;
    }
    
    #agendaeventos {
        background-color: #cc6901;
        padding-bottom: 30px;
    }
    
    .form-group {
        margin-top: 25px;
    }
    
    .timeline {
        list-style: none;
        padding: 20px 0 20px;
        position: relative;
        margin: 30px 60px;
    }
    
    .timeline:before {
        top: 20px;
        bottom: 40px;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 25px;
        margin-left: -1.5px;
    }
    
    .timeline>li {
        margin-bottom: 20px;
        position: relative;
    }
    
    .timeline>li:before,
    .timeline>li:after {
        content: " ";
        display: table;
    }
    
    .timeline>li:after {
        clear: both;
    }
    
    .timeline>li:before,
    .timeline>li:after {
        content: " ";
        display: table;
    }
    
    .timeline>li:after {
        clear: both;
    }
    
    .timeline>li>.timeline-panel {
        width: 92%;
        height: 50%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        background-color: white;
        /* -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); */
    }
    
    .timeline>li>.timeline-panel:before {
        position: absolute;
        top: 80px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 14px solid transparent;
        content: " ";
    }
    
    .timeline>li>.timeline-panel:after {
        position: absolute;
        top: 80px;
        right: -14px;
        display: inline-block;
        border-top: 16px solid transparent;
        border-left: 16px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
    }
    
    .timeline>li>.timeline-badge {
        color: #fff;
        width: 60px;
        height: 60px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 65px;
        left: 20px;
        margin-left: -25px;
        background-color: #999999;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    
    .timeline>li>.timeline-badge .date-day {
        margin: 0 auto;
        width: 60%;
        display: block;
        line-height: 1;
        padding-top: 3px;
    }
    
    .timeline>li>.timeline-badge .date-day span {
        margin-top: 3px;
        border-top: 2px solid #fff;
        padding-top: 2px;
        display: block;
    }
    
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
    }
    
    .timeline>li.timeline-inverted>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    
    .timeline>li.timeline-inverted>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 15px;
        left: -14px;
        right: auto;
    }
    
    .timeline-badge.primary {
        background-color: #2e6da4 !important;
    }
    
    .timeline-badge.success {
        background-color: #3f903f !important;
    }
    
    .timeline-badge.warning {
        background-color: #3a4f8e !important;
    }
    
    .timeline-badge.danger {
        background-color: #d9534f !important;
    }
    
    .timeline-badge.info {
        background-color: #5bc0de !important;
    }
    
    .timeline-title {
        margin-top: 0;
        color: inherit;
    }
    
    .timeline-body>p,
    .timeline-body>ul {
        margin-bottom: 0;
    }
    
    .timeline-body>p+p {
        margin-top: 5px;
    }
    
    .date-top-1 {
        font-size: 26px;
        margin-top: -6px;
    }
    
    .date-top-2 {
        font-size: 26px;
        margin-top: -46px;
    }
    
    #btn-cadastro .btn {
        font-size: 25px;
        margin-top: -25px;
        margin-bottom: 15px;
        font-size: 25px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        text-transform: uppercase;
    }
    
    .logo2 {
        width: 100%;
        margin-top: 43px;
    }
    
    .video-card {
        margin-top: 25px;
        margin-left: 25px;
    }
    
    #videocardinf h2 {
        margin-left: 25px;
    }
    
    #videocardinf h2 {
        margin-top: 50px;
        color: #cc6901;
        font-size: 50px;
    }
    
    #videocardinf iframe {
        max-width: 487px;
    }
    
    @media (max-width: 767px) {
        ul.timeline:before {
            left: 40px;
        }
        ul.timeline>li>.timeline-panel {
            width: calc(100% - 90px);
            width: -moz-calc(100% - 90px);
            width: -webkit-calc(100% - 90px);
        }
        ul.timeline>li>.timeline-badge {
            left: 15px;
            margin-left: 0;
            top: 16px;
        }
        ul.timeline>li>.timeline-panel {
            float: right;
        }
        ul.timeline>li>.timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }
        ul.timeline>li>.timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
    }
    /* Card inferior*/
    
    #page-footer {
        background-color: #3a4f8e;
        margin-top: 75px;
        padding-bottom: 100px;
    }
    
    .list-unstyled {
        margin-top: 40px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
    }
    
    #page-footer a {
        color: white;
        font-size: 14px;
        font-weight: normal;
    }
    /*O Projeto*/
    
    #oprojeto p,
    #leiartesao p,
    #cadastroartesao p,
    #todasnoticias p,
    #noticiaspage p,
    #artesaos p {
        margin-bottom: 55px;
        color: #a8a6a3;
        font-size: 22px;
    }
    
    #oprojeto h1,
    #cadastroartesao h1,
    #leiartesao h1,
    #todasnoticias h1,
    #noticiaspage h1,
    #artesaos h1 {
        font-size: 40px;
        text-transform: uppercase;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        font-weight: bold;
        text-align: left;
        color: #cc6901;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    .form-group {
        color: #a8a6a3;
    }
    
    #cadastroartesao .btn-cadastro {
        font-size: 25px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #todasnoticias h2,
    #noticiaspage h2,
    #artesaos h2 {
        font-size: 33px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #3a4f8e;
        text-transform: uppercase;
    }
    
    .noticias-img {
        width: 100%;
    }
    
    .first-border,
    .noticias-border-2,
    .noticias-border-3,
    .noticias-border-4 {
        border-bottom: 15px solid rgba(243, 142, 47, 0.74);
    }
    
    .last-border {
        border-bottom: 2px solid rgba(226, 215, 210, 0.74);
    }
    
    .first-border {
        border-top: 2px solid rgba(226, 215, 210, 0.74);
    }
    
    #logofooter {
        margin-top: 20px;
    }
    
    .linhavertical {
        border: orangered;
    }
    
    #artesaos h5 {
        color: #a8a6a3;
        font-size: 22px;
    }
    
    #artesaos h4 {
        text-align: left;
        color: #3a4f8e;
    }
    
    #artesaos h1,
    #artesaos h2,
    #artesaos h4 {
        border-bottom: 2px solid rgba(226, 215, 210, 0.74);
        text-transform: none;
    }
    
    .artesaotext {
        margin-top: 25px;
    }
    
    .produtos-artesaos {
        margin-top: 50px;
    }
    
    #wpp {
        margin-top: 90px;
    }
    
    .artesao-title {
        width: 377px;
        height: 43px;
        font-size: 40px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 50px;
        font-weight: bold;
    }